@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root{
    --fonte: 'Cabin', sans-serif;
    --fonteT: 'Londrina Solid', cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte);
}

html{
    scroll-behavior: smooth;
}

a{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(img/fundoplanta.jpg);
    background-position: top center;
    background-size: cover;
}

div#escurecer {
    background-color: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

div#escurecer > h1 {
    color: white;
    text-align: center;
    padding: 30px;
    font-family: var(--fonteT);
    font-size: 5em;
    font-weight: 300;
}

div#escurecer > h1 {
    font-size: 1em;
    color: rgba(255, 255, 255, 0);
}

div#escurecer > img#logo {
    width: 55vw;
}

div#escurecer > a > img#scroll {
    width: 10vw;
    border-radius: 100%;
    margin: 5px;
    transition: 0.2s;
}

div#escurecer > a > img#scroll:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.096);
}

section {
    width: 100%;
}

section.seccomum {
   background-color: whitesmoke;
   min-height: auto;
}

section.secimg {
    height: 350px;
    background-image: url(img/fundoplanta2.jpg);
    background-position: bottom center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.secimg > div {
    max-width: 800px;
}

section.secimg > div > p {
    color: whitesmoke;
    font-family: var(--fonteT);
    font-size: 2.2em;
    margin: 20px;
    text-align: center;
}

div.content {
    height: 100%;
    max-width: 900px;
    margin: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.content > div {
    margin: 20px;
}

div.content > div.text {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    text-align: center;
}

div.text > p {
    font-size: 2em;
    font-weight: 500;
}

spam {
    color: #699b28;
}

.content, .center {
    visibility: hidden;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
}

footer > p {
    font-size: 1.3em;
    color: whitesmoke;
    padding: 30px;
}